minium
allure-pytest==2.16.0
allure-python-commons==2.16.0
attrs==26.1.0
certifi==2026.4.22
charset-normalizer==3.4.7
colorama==0.4.6
coverage==7.13.5
execnet==2.1.2
Faker==40.15.0
idna==3.13
iniconfig==2.3.0
locust==2.24.0
packaging==26.2
pluggy==1.6.0
py-cpuinfo==9.0.0
Pygments==2.20.0
pytest==9.0.3
pytest-benchmark==5.2.3
pytest-cov==7.1.0
pytest-dependency==0.6.1
pytest-ordering==0.6
pytest-xdist==3.8.0
playwright
pytest-playwright
pymysql==1.1.1
requests==2.33.1
setuptools==82.0.1
tzdata==2026.2
urllib3==2.6.3
